<div class="banner pt-2">
  <h1 class="m-3">Never forget a movie again...</h1>
</div>

<div class="container py-2">
  <div class="row">
    <div class="bg-danger bg-gradient rounded p-4 shadow">

      <div class="d-flex align-items-flex-start">
        <h1>🎬 MY MOVIE LISTS </h1>
      </div>

      <div class="cards d-flex justify-content-between bg-light mt-2 p-4 pb-2">
        <% @lists.each do |list| %>
          <div class="co-12 col-sm-6 col-md-4 mb-3">
            <%= link_to list_path(list), class:"text-decoration-none" do %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key): asset_path('list_background.jpg') %>)">
                <%= list.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="btn btn-dark mt-3">
        <%= link_to "Create a new movie list", new_list_path %>
      </div>

    </div>
  </div>
</div>
