<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-danger bg-gradient rounded p-4 shadow">

          <div class="d-flex justify-content-center">
            <h1>🎬 MY MOVIE LISTS 🎬</h1>
          </div>

          <div class="card d-flex justify-content-between bg-white mt-2 p-2">
            <% @lists.each do |list| %>
            <%= link_to list.name, list_path(list), class:"text-decoration-none bg-light text-dark m-2 p-2"%>
            <% end %>
          </div>

          <div class="btn btn-dark mt-3">
            <%= link_to "Create a new movie list", new_list_path %>
          </div>

      </div>
    </div>
  </div>
</div>
