<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-danger bg-gradient rounded p-4 shadow">

        <div class="d-flex justify-content-center">
         <h1>CREATE A NEW LIST</h1>
        </div>

        <%= render "form", list: @list %>

        <div class="btn btn-dark mt-3">
          <%= link_to "Back to all lists", lists_path %>
        </div>

      </div>
    </div>
  </div>
</div>
