.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  h2 {
    font-size: 20px;
  }

}
